{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <h2>Организация</h2>
    {% if company %}
        <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <hr>
        <h4>Структуртные подразделения организации</h4>
        {% bootstrap_formset formset layout='horizontal' %}

        {% bootstrap_button button_type="submit" content="Сохранить" %}
        </form>
    {% else %}
        {% bootstrap_alert "Текущий пользователь не связан с организацией!!!" alert_type="warning" %}
    {% endif %}
{% endblock %}