{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

{% if company %}
<h2>Cведения о структурном подразделени</h2>
<h3>{{ department }}</h3>

<h4>Рабочие места</h4>
<div class="list-group">
    {% for workplace in workplaces %}
    <a href="{{ workplace.get_absolute_url }}" class="list-group-item list-group-item-action">{{ workplace.name }}</a>
    {% endfor %}
</div>
<a class="btn btn-primary mt-3" href="{% url 'workplace_create' department.pk %}" role="button">Создать</a>

{% else %}
{% bootstrap_alert "Текущий пользователь не связан с организацией!!!" alert_type="warning" %}
{% endif %}

{% endblock %}