{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<h2>Рабочее место</h2>
<hr>
<h3>{{ workplace.department.name }}</h3>
<h3>{{ workplace }}</h3>
<hr>
<h4>Вредные и опасные факторы</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Вредный или опасный фактор</th>
      <th scope="col">Класс условий труда</th>
    </tr>
  </thead>
  <tbody>
  {% for factor in factors %}
    <tr>
      <td>{{ factor.factor.name }}</td>
      <td>{{ factor.condition_class }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<hr>
<h4>Работы с повышенной опасностью</h4>
<div class="list-group">
    {% for works in dangerous_works %}
    <a href="{{ works.get_absolute_url }}" class="list-group-item list-group-item-action">{{ works }}</a>
    {% endfor %}
</div>

<hr>
<h4>Работы, при выполнении которых есть необходимость в профессиональном отборе</h4>
<div class="list-group">
    {% for work in medic_works %}
    <a href="{{ work.get_absolute_url }}" class="list-group-item list-group-item-action">{{ work }}</a>
    {% endfor %}
</div>

<hr>
<p>Стажировка:
    {% if workplace.is_need_internship %}
    Требуется
    {% else %}
    Не требуется
    {% endif %}
</p>
<p>Проверка знаний:
    {% if workplace.is_need_knowledge_test %}
    Требуется, периодичность - {{ workplace.knowledge_test_period }}
    {% else %}
    Не требуется
    {% endif %}
</p>
<hr>
<a class="btn btn-primary mt-3" href="{% url 'workplace_update' workplace.pk %}" role="button">Редактировать</a>
<a class="btn btn-danger mt-3" href="{% url 'workplace_delete' workplace.pk %}" role="button">Удалить</a>

{% endblock %}